.container {
    width: 80%;
}

h1, form, ul {
    margin: 3% 0;
}
.ulBtns {
    float: right;
    display: none;
}

.ulBtn {
    margin: 0 5px;
}

ul:hover .ulBtns {
    display: block;
}

/* Update todo input */
.liItm {
    display: block;
}

.editInput {
    width: 60%;
}

.twtrLink {
    text-align: right;
}

.twtrLink a {
    bottom: 10px;
    position: fixed;
}